.ResponsibleUnit {
	background: url('/assets/images/sys.png') no-repeat -10px -196px;
	width: 350px;
	height: 18px;
}
.PriceListDate {
	background: url('/assets/images/sys.png') no-repeat -10px -240px;
	width: 145px;
	height: 18px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 2;
    padding: 0;
}